// Screen sizes
$screen-mobile: 375px;
$screen-desktop: 1440px;

// Colors
$orangeColor: rgb(251, 116, 19);
$textLight1Color: #6b7177;

$white: rgb(255, 255, 255);
$lightGrey: rgb(149, 158, 172);
$mediumGrey: rgb(124, 135, 152);
$darkBlue: rgb(37, 45, 55);
$veryDarkBlue: rgb(18, 20, 23);
