@import "../../sassStyles/variables";

.submit-form {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
  padding: 30px;
  width: 400px;
  height: 400px;
  background-color: $veryDarkBlue;
  border-radius: 30px;

  @media screen and (max-width: 400px) {
    width: 300px;
    padding: 10px;
    margin-top: -150px;
    margin-left: -150px;
  }
}

.submit-form__circle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: $textLight1Color;
  background-color: $darkBlue;
  border-radius: 50%;
  transition: 0.5s;

  &--rating {
    &:hover {
      background-color: $orangeColor;
    }
  }
}

.submit-form__title {
  color: $white;
}

.submit-form__text {
  color: $textLight1Color;
  margin-bottom: 30px;
}

.submit-form__rating-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.submit-form__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.submit-form__button {
  width: 100%;
  height: 40px;
  color: $white;
  background-color: $orangeColor;
  border-radius: 20px;
  border: none;
  transition: 0.5s;

  &:hover {
    color: $orangeColor;
    background-color: $white;
  }
}

.submit-form__image-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.submit-form__result-text {
  margin: 0 30px;

  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  color: $orangeColor;
  background-color: $darkBlue;
  border-radius: 50px;
}
